@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Amel Rahmanovic</h1>
    <p>Learn about <a target="_blank" href="http://amel.ddns.net">http://amel.ddns.net</a>.</p>
</div>
