<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2019 - ASP.NET MVC .NET Core 3.0.0 And ASP.NET Web API - <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
    </div>
</footer>